body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    color: #171a20;
    font-family: 'M PLUS 1p', sans-serif;
}

header{
    display:grid;
    grid-template-columns: auto 1fr auto ;
    padding: 5px 10px;
    position: fixed;
    top:0;
    z-index: 2;
    width:100%;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    transition: color 0.4s linear;
}

header nav.center{
    color: inherit;
    text-align: center; 
}

header nav.right{
    color: inherit;
    text-align: right;
    padding: 3px 15px;
}

header a.left{
    text-align: left;
    padding: 12px 15px;
}

section{
    display: flex;
    height: 100vh;  
    width: 400px;
    height: 440px;
    justify-content: center;
    align-items: center;
    display:flex
}

section .content{
    width: 100%;
    padding: 40px;
}

section .content h2{
    font-size: 2em;
    color: inherit;
}
input{
    width: 55vh;
    height: 6vh;
    border: none;
    outline: gray;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 14px;
}

.btn{
    width: 56vh;
    cursor: pointer;
    height: 6vh;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: blue;
    color: aliceblue;
    font-size: 14px;
}

.new-user{
    width: 56vh;
    height: 6vh;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: lightgray;
    color: inherit;
    font-size: 14px;
    cursor: pointer;
}

a{
    text-align: center;
    color: inherit;
}

div .option{
    display: grid;
    grid-template-columns: 1fr auto 1fr ;
    column-gap: 1rem;
}
hr{
    width: 100%;
    height: .5px;
    
}
